@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* --- font-size --- */
/* --- colors --- */
/* --- bouttons indiquant les sommes du et à percevoir --- */
@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'montserrabold', sans-serif, monospace; }

body {
  background-color: whitesmoke; }

section {
  width: 100%;
  height: 90vh;
  padding: 25px 25px 5px 25px;
  overflow-y: scroll;
  background-color: slategrey;
  background-image: url(../images/seigaiha.png); }

.page-description {
  margin-bottom: 50px;
  margin-top: -25px;
  margin-left: -25px;
  margin-right: -25px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #006564;
  color: #00B2AF;
  border-bottom: 1px solid #00B2AF; }

a {
  text-decoration: none;
  color: #00B2AF;
  transition: .3s; }
  a:hover {
    color: orange; }

bold, b {
  font-weight: 700; }

.flexbox {
  display: flex;
  justify-content: space-around; }

/* --- style des groupes --- */
.group {
  position: relative;
  border: 1px solid #006564;
  margin: 60px 0;
  padding: 50px 50px 0 50px;
  background-color: rgba(255, 255, 255, 0.5); }
  .group .total-money-up, .group .total-money-down {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 5px 15px;
    margin: 20px 0;
    background-color: whitesmoke;
    color: whitesmoke;
    text-align: center;
    font-weight: 700;
    transition: .3s;
    cursor: pointer; }
    .group .total-money-up:hover, .group .total-money-down:hover {
      bottom: 2px;
      filter: brightness(110%); }
    .group .total-money-up i, .group .total-money-down i {
      position: absolute;
      right: 5px;
      top: 5px; }
  .group .total-money-up {
    margin-left: 5px;
    background-color: #71C386;
    border: 1px solid #B4CDBB;
    border-bottom: 5px solid #B4CDBB;
    color: #3B433D; }
  .group .total-money-down {
    margin-right: 5px;
    background-color: #ED7161;
    border: 1px solid #F0B2AA;
    border-bottom: 5px solid #F0B2AA;
    color: #6D514E; }

.no-padding .group {
  padding: 0; }

.label-grp {
  position: absolute;
  top: -40px;
  left: -1px;
  width: 15%;
  height: 40px;
  padding: 0 30px 0 10px;
  display: flex;
  outline: 0;
  border: 1px solid #006564;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  background-color: #006564;
  color: whitesmoke;
  font-weight: 700; }
  .label-grp .close {
    position: absolute;
    right: 5px;
    top: 4px; }

.total-grp-dette {
  margin: 25px auto;
  padding: 25px 50px 0 50px;
  background-color: #ddd;
  color: #222;
  border: 1px solid #eee;
  box-shadow: 0 0 3px #bbb;
  text-align: center;
  font-weight: 700; }
  .total-grp-dette .flexbox {
    width: 25%;
    margin: 0 auto; }

/* --- ecran de connection --- */
.login-back {
  padding: 100px;
  height: 100vh; }

.about {
  margin: 50px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #222; }
  .about .handshake {
    width: 200px;
    height: 200px;
    margin: 0px auto;
    background-image: url(../svg/handshake.svg);
    background-size: 100%; }
  .about h2 {
    font-size: 3em; }

/* --- modal box --- */
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  text-align: center;
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  /* Could be more or less, depending on screen size */
  background-image: url(../images/escheresque.png);
  border: 1px solid #006564;
  /* The Close Button */ }
  .modal-content [class*="user"], .modal-content [class*="arrow"] {
    color: #006564; }
  .modal-content input {
    margin: 10px auto;
    padding: 0 15px;
    width: 90%;
    height: 40px;
    line-height: 40px;
    text-transform: capitalize;
    outline: 0;
    color: #006564;
    border: 1px solid #006564; }
    .modal-content input:focus {
      color: #222;
      border: 1px solid #222; }
    .modal-content input:last-child {
      width: 40%;
      height: 50px;
      line-height: 40px;
      text-transform: uppercase;
      cursor: pointer;
      border: 2px solid #006564;
      font-weight: 700;
      transition: .4s; }
  .modal-content .close {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold; }
    .modal-content .close:hover, .modal-content .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer; }

header, footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background-color: whitesmoke;
  color: #222;
  padding: 10px; }

footer {
  position: relative;
  font-weight: 700;
  justify-content: center;
  font-size: 0.7em;
  background-image: url(../images/escheresque.png);
  z-index: 100;
  border-top: 1px solid #222; }

h1 {
  text-transform: uppercase;
  font-size: 2em;
  text-align: right;
  font-weight: bolder;
  color: #006564; }

.logo {
  width: 50px;
  height: 50px;
  margin-left: 25px;
  background-image: url(../svg/home.svg); }

#presentation-appli {
  padding: 50px 0;
  background-image: url(../images/escheresque.png); }

.clapclap {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  background-size: cover;
  background-image: url(../svg/handshake.svg); }

.separator {
  width: 50%;
  height: 6px;
  margin: 50px auto;
  background-color: #006564; }

#presentation-appli p {
  width: 50%;
  margin: 10px auto;
  text-align: center;
  font-size: 1em; }

form {
  width: 50%;
  margin: 0 auto;
  /*outline: 1px solid red;*/ }
  form input {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px; }
    form input:focus, form input:active {
      outline: 0;
      color: #006564;
      border: 1px solid #006564; }
    form input:-webkit-autofill {
      /* supprimer css preremplie sous chrome */
      border: 1px solid #222;
      -webkit-box-shadow: 0 0 0 1000px white inset; }
  form .submit {
    border: 0;
    text-transform: uppercase;
    padding: 0 25px;
    background-color: #006564;
    color: whitesmoke; }
  form:last-child {
    justify-content: flex-end; }

header form {
  position: absolute;
  left: 10px; }
  header form input {
    width: 20%;
    display: inline; }

nav {
  position: relative;
  width: 20%;
  height: 100vh;
  background-color: whitesmoke;
  color: #222;
  box-shadow: 0 1px 1px #00B2AF;
  z-index: 99; }
  nav li {
    height: 50px;
    line-height: 50px;
    text-align: right;
    padding: 0 25px;
    text-transform: uppercase;
    font-size: 0.7em;
    border-bottom: 1px solid #00B2AF;
    font-weight: 700;
    transition: .4s; }
    nav li:hover {
      background-color: slategrey;
      color: #fff; }
    nav li.add-user {
      background-color: orange;
      color: whitesmoke;
      border-bottom: 1px solid orange; }
    nav li.add-user:hover {
      background-color: orangered; }
  nav i {
    margin-left: 10px; }

.persons {
  text-align: center; }
  .persons .name {
    text-align: left; }

.person {
  display: inline-block;
  width: 20%; }

/* --- style des bloc des personnes --- */
.person {
  position: relative;
  padding: 0 20px 40px 20px;
  margin: 15px;
  background-color: #ddd;
  color: #222;
  border: 1px solid #eee;
  box-shadow: 0 0 3px #bbb;
  /* nom du payeur */
  /* ici mettre les bouttons */ }
  .person .name {
    margin-top: 15px;
    font-size: 1.4em;
    text-transform: capitalize;
    font-weight: 700; }
  .person .total-money-up, .person .total-money-down {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 5px 15px;
    margin: 20px 0;
    background-color: whitesmoke;
    color: whitesmoke;
    text-align: center;
    font-weight: 700;
    transition: .3s;
    cursor: pointer; }
    .person .total-money-up:hover, .person .total-money-down:hover {
      bottom: 2px;
      filter: brightness(110%); }
    .person .total-money-up i, .person .total-money-down i {
      position: absolute;
      right: 5px;
      top: 5px; }
  .person .total-money-up {
    margin-left: 5px;
    background-color: #71C386;
    border: 1px solid #B4CDBB;
    border-bottom: 5px solid #B4CDBB;
    color: #3B433D; }
  .person .total-money-down {
    margin-right: 5px;
    background-color: #ED7161;
    border: 1px solid #F0B2AA;
    border-bottom: 5px solid #F0B2AA;
    color: #6D514E; }
  .person .close, .person .link-person {
    font-size: 2em; }
  .person .close {
    position: absolute;
    top: 10px;
    right: 10px; }
  .person .link-person {
    position: absolute;
    bottom: 10px;
    right: 10px; }

/* --- color user --- */
.name .none {
  display: none; }
.name .low {
  color: #008030;
  text-shadow: 0 0 0 #000; }
.name .moderate {
  color: #0080d7;
  text-shadow: 0 0 0 #000; }
.name .high {
  color: #fef200;
  text-shadow: 0 0 0 #000; }
.name .very-high {
  color: #fb7613;
  text-shadow: 0 0 0 #000; }
.name .extreme {
  color: #e40915;
  text-shadow: 0 0 0 #000; }

.depense {
  min-height: 100px;
  padding: 15px;
  border-bottom: 1px dashed #006564; }
  .depense .payeur, .depense .users, .depense .calendar, .depense .usd {
    margin: 15px 0;
    font-weight: 700;
    color: #006564; }
    .depense .payeur i:last-child, .depense .users i:last-child, .depense .calendar i:last-child, .depense .usd i:last-child {
      font-weight: 500;
      color: #222; }
  .depense .bloc-description {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 45px;
    margin-bottom: 15px;
    padding: 25px 0;
    border: 1px solid #006564;
    font-style: italic;
    background-color: rgba(200, 200, 255, 0.5); }
    .depense .bloc-description .label-description {
      position: absolute;
      font-weight: 700;
      top: 5px;
      left: 8px;
      color: #006564;
      font-style: normal; }

/*# sourceMappingURL=style.css.map */
