body {
    background-color: $back;
}

section {
    width: 100%;
    height: 90vh;
    padding: 25px 25px 5px 25px;
    overflow-y: scroll;
    background-color: $back2;
    background-image: url(../images/seigaiha.png);
}

.page-description {
    margin-bottom: 50px;
    margin-top: -25px;
    margin-left: -25px;
    margin-right: -25px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: $complementary;
    color: $link;
    border-bottom: 1px solid $link;
}

a {
    text-decoration: none;
    color: $link;
    transition: .3s;
    
    &:hover {
        color: $link-hover;
    }
}

bold, b {
    font-weight: 700;
}

.flexbox {
    display: flex;
    justify-content: space-around;
}

/* --- style des groupes --- */
.group {
    position: relative;
    border: 1px solid $complementary;
    margin: 60px 0;
    padding: 50px 50px 0 50px;
    background-color: rgba(255, 255, 255, .5);
    
    @include buttons-dette;
}

.no-padding {
    .group {
        padding: 0;
    }
}

.label-grp {
    position: absolute;
    top: -40px;
    left: -1px;
    width: 15%;
    height: 40px;
    padding: 0 30px 0 10px;
    display: flex;
    outline: 0;
    border: 1px solid $complementary;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    background-color: $complementary;
    color: $back;
    font-weight: 700;
    
    .close {
        position: absolute;
        right: 5px;
        top: 4px;
    }
}

.total-grp-dette {
    margin: 25px auto;
    padding: 25px 50px 0 50px;
    background-color: #ddd;
    color: #222;
    border: 1px solid #eee;
    box-shadow: 0 0 3px #bbb;
    text-align: center;
    font-weight: 700;
    
    .flexbox {
        width: 25%;
        margin: 0 auto;
    }
}

/* --- ecran de connection --- */
.login-back {
    padding: 100px;
    height: 100vh;
}

.about {
    margin: 50px;    
    padding: 50px;
    background-color: rgba(255, 255, 255, .5);
    color: $dark;
    
    .handshake {
        width: 200px;
        height: 200px;
        margin: 0px auto;
        background-image: url(../svg/handshake.svg);
        background-size: 100%;
    }
    
    h2 {
        font-size: $fs-large;
    }
}

/* --- modal box --- */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    text-align: center;
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    background-image: url(../images/escheresque.png);
    border: 1px solid $complementary;
    
    [class*="user"], [class*="arrow"] {
        color: $complementary;
    } 
    
    input {
        margin: 10px auto;
        padding: 0 15px;
        width: 90%;
        height: 40px;
        line-height: 40px;
        text-transform: capitalize;
        outline: 0;
        color: $complementary;
        border: 1px solid $complementary;
        
        &:focus {
            color: $dark;
            border: 1px solid $dark;
        }
        
        &:last-child {
            width: 40%;
            height: 50px;
            line-height: 40px;
            text-transform: uppercase;
            cursor: pointer;
            border: 2px solid $complementary;
            font-weight: 700;
            transition: .4s;
        }
    }
    
    /* The Close Button */
    .close {
        position: absolute;
        top: 5px;
        right: 10px;
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
        
        &:hover, &:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

