body {
    background-color: $back;
}

section {
    width: 100%;
    height: 90vh;
    padding: 25px 25px 5px 25px;
    overflow-y: scroll;
    background-color: $back2;
    background-image: url(../images/seigaiha.png);
}

.page-description {
    margin-bottom: 50px;
    margin-top: -25px;
    margin-left: -25px;
    margin-right: -25px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: $complementary;
    color: $link;
    border-bottom: 1px solid $link;
}

a {
    text-decoration: none;
    color: $link;
    transition: .3s;
    
    &:hover {
        color: $link-hover;
    }
}

bold {
    font-weight: 700;
}

/* --- style des bloc des personnes --- */
.person {
    position: relative;
    /*width: 30%;
    min-width: 30%;*/
    padding: 0 20px 40px 20px;
    margin: 15px;
    background-color: #ddd;
    color: #222;
    border: 1px solid #eee;
    box-shadow: 0 0 3px #bbb;
    
    .name {
        margin-top: 15px;
        font-size: $fs-medium;
        text-transform: capitalize;
        font-weight: 700;
    }
    
    /* ici mettre les bouttons */
    @include buttons-dette;
    
    .close, .link-person {
        font-size: $fs-medium;
    }
    
    .close {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    .link-person {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}

/* --- style des groupes --- */
.group {
    position: relative;
    border: 1px solid $complementary;
    margin: 60px 0;
    padding: 50px 50px 0 50px;
    background-color: rgba(255, 255, 255, .5);
    
    @include buttons-dette;
}

.label-grp {
    position: absolute;
    top: -40px;
    left: -1px;
    width: 15%;
    height: 40px;
    padding: 0 30px 0 10px;
    display: flex;
    outline: 0;
    border: 1px solid $complementary;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    background-color: $complementary;
    color: $back;
    font-weight: 700;
    
    .close {
        position: absolute;
        right: 5px;
        top: 4px;
    }
    
    option {
        outline: 0;
        border: 0;
    }
}

.total-grp-dette {
    margin: 25px auto;
    padding: 25px 50px 0 50px;
    background-color: #ddd;
    color: #222;
    border: 1px solid #eee;
    box-shadow: 0 0 3px #bbb;
    text-align: center;
    font-weight: 700;
    
    .flexbox {
        width: 25%;
        margin: 0 auto;
    }
}

/* --- ecran de connection --- */
.login-back {
    padding: 100px;
    height: 100vh;
}

.about {
    margin: 50px;    
    padding: 50px;
    background-color: rgba(255, 255, 255, .5);
    color: $dark;
    
    .handshake {
        width: 200px;
        height: 200px;
        margin: 0px auto;
        background-image: url(../svg/handshake.svg);
        background-size: 100%;
    }
    
    h2 {
        font-size: $fs-large;
    }
}