header, footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    background-color: $back;
    color: $dark;
    padding: 10px;
}

footer {
    position: relative;
    font-weight: 700;
    justify-content: center;
    font-size: $fs-smart;
    background-image: url(../images/escheresque.png);
    z-index: 100;
    border-top: 1px solid $dark;
}

h1 {
    text-transform: uppercase;
    font-size: $fs-medium;
    text-align: right;
    font-weight: bolder;
    color: $complementary;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 25px;
    background-image: url(../svg/home.svg);
}