.flexbox {
    display: flex;
    justify-content: space-around;
}

.persons {
    text-align: center;
    
    .name {
        text-align: left;
    }
}

.person {
    display: inline-block;
    width: 20%;
}