#presentation-appli {
    padding: 50px 0;
    background-image: url(../images/escheresque.png);
}

.clapclap {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    background-size: cover;
    background-image: url(../svg/handshake.svg);
}

.separator {
    width: 50%;
    height: 6px;
    margin: 50px auto;
    background-color: $complementary;
}

#presentation-appli p {
    width: 50%;
    margin: 10px auto;
    text-align: center;
    font-size: $fs-normal;
}


form {
    width: 50%;
    margin: 0 auto;
    
    /*outline: 1px solid red;*/
    
    input {
        width: 100%;
        height: 40px;
        margin: 10px 0;
        padding: 0 10px;
        
        &:focus, &:active {
            outline: 0;
            color: $complementary;
            border: 1px solid $complementary;
        }
        
        &:-webkit-autofill { /* supprimer css preremplie sous chrome */
            border: 1px solid $dark;
            -webkit-box-shadow: 0 0 0 1000px white inset;
        }
        
    }
    
    .submit {
        border: 0;
        text-transform: uppercase;
        padding: 0 25px;
        background-color: $complementary;
        color: $back;
    }
    
    &:last-child {
        justify-content: flex-end;
    }
    
}

header {
    form {
        position: absolute;
        left: 10px;
        
        input {
            width: 20%;
            display: inline;
        }
        
        
    }
}

