/* --- bouttons indiquant les sommes du et à percevoir --- */
@mixin buttons-dette {
    .total-money-up, .total-money-down {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding: 5px 15px;
        margin: 20px 0;
        background-color: $back;
        color: $back;
        text-align: center;
        font-weight: 700;
        transition: .3s;
        cursor: pointer;
        
        &:hover {
            bottom: 2px;
            filter:brightness(110%);
        }
        
        i {
            position: absolute;
            right: 5px;
            top: 5px;
        }
    }
    
    .total-money-up {
        margin-left: 5px;
        background-color: $plus;
        border: 1px solid $plus2;
        border-bottom: 5px solid $plus2;
        color: $plus-txt;
    }
    
    .total-money-down {
        margin-right: 5px;
        background-color: $moins;
        border: 1px solid $moins2;
        border-bottom: 5px solid $moins2;
        color: $moins-txt;
    }    
}

@mixin color-importance {
    /* --- color user --- */
   
        .none {
            display: none;
        }
        
        .low {
           color: #008030;
            text-shadow: 0 0 0 #000;
        }
        
        .moderate {
           color: #0080d7; 
            text-shadow: 0 0 0 #000;
        }
        
        .high {
           color: #fef200;
            text-shadow: 0 0 0 #000;
        }
        
        .very-high {
           color: #fb7613;
            text-shadow: 0 0 0 #000;
        }
        
        .extreme {
           color: #e40915;
            text-shadow: 0 0 0 #000;
        }
    
}
