/* --- colors --- */
$color1: #145E5B;
$color2: #36AAA6;
$color3: #eee;
$color-dark: #5E2100;
$color-light: #ECF0F1;
$color-plus: #71C386;
$color-plus2: #B4CDBB;
$color-plus-text: #3B433D;
$color-moins: #ED7161;
$color-moins2: #F0B2AA;
$color-moins-text: #6D514E;

$backcolor: whitesmoke;
$backcolor2: #999;
$bordercolor: #006564;
$textcolor: #222;
$secondcolor: #00B2AF;
$secondcolor-hover: #00FFFB;

/* --- background --- */
$patern1: url('../images/patern1.png');

/* --- font-size --- */
$fs-large: 3em;
$fs-medium: 2em;
$fs-normal: 1em;
$fs-smart: .7em;

