/* --- font-size --- */
$fs-large: 3em;
$fs-medium: 2em;
$fs-normal: 1em;
$fs-smart: .7em;

/* --- colors --- */
$back: whitesmoke;
$back2: slategrey;
$complementary: #006564;
$dark: #222;
$link: #00B2AF;
$link-hover: #00FFFB;
$plus: #71C386;
$plus2: #B4CDBB;
$plus-txt: #3B433D;
$moins: #ED7161;
$moins2: #F0B2AA;
$moins-txt: #6D514E;
$important: orange;
$important-hover: orangered;