<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>App Dette</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-3.1.1.min.js"></script>
    <!-- custom scrollbar -->
    <!--<script src="js/jquery.mCustomScrollbar.min.js"></script>-->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-filter.min.js"></script>
    <script src="js/account.js"></script><!-- compte de l'utilisateur -->
    <script src="js/users.js"></script><!-- les gens enregistrés -->
    <!--<script src="js/add-user.js"></script>-->
</head>

<body ng-app="appDette">
    <header>
        <h1>App Dette</h1>
        <div class="logo"></div>
    </header>
    
    <div class="flexbox" ng-controller="usersCtrl" ng-controller="depensesCtrl">
       
        <!-- NAVIGATION -->
        <nav>
            <ul>
                <a href="#">
                    <li class="add-user" id="myBtn">Ajouter personne<i class="fa fa-user-plus" aria-hidden="true"></i></li>
                </a>
                
                <!-- The Modal -->
                <div id="myModal" class="modal">
                  <!-- Modal content -->
                  <div class="modal-content" ng-controller="userFormController">
                    <span class="close"><i class="fa fa-close"></i></span>
                    <!-- NAME -->
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="nom" ng-model="user.username">
                    <!-- PRIORITE -->
                    <i class="fa fa-exclamation-triangle"></i>
                    <input type="radio" name="priority" value="none" ng-model="user.usercolor">Pas important</input>
                    <input type="radio" name="priority" value="low" model="user.usercolor">Peu d'importance</input>
                    <input type="radio" name="priority" value="moderate" model="user.usercolor">Légèrement important</input>
                    <input type="radio" name="priority" value="high" model="user.usercolor">Important</input>
                    <input type="radio" name="priority" value="very-high" model="user.usercolor">Très important</input>
                    <input type="radio" name="priority" value="extreme" model="user.usercolor">URGENT!</input>
                    <!-- GROUP -->
                    <i class="fa fa-users"></i>
                    <input list="groups" type="text" placeholder="groupe" ng-model="user.usergroup">
                    <datalist id="groups">
                        <option value="{{ key }}" ng-repeat="(key, value) in users | groupBy: 'usergroup'">{{ key }}</option>
                    </datalist>
                    <!-- SA DETTE -->
                    <i class="fa fa-arrow-down"></i>
                    <input type="text" placeholder="argent qu'il doit" ng-model="user.debt">
                    <!-- TA DETTE -->
                    <i class="fa fa-arrow-up"></i>
                    <input type="text" placeholder="argent que tu lui doit" ng-model="user.pickup">
                    <!-- VALIDER -->
                    <input type="submit" value="ajouter" ng-click="addUser(user)">
                </div>
                </div>
                <script src="js/modalbox.js"></script>
                
                <a href="#">
                    <li class="actif">Tableau de bord<i class="fa fa-bar-chart" aria-hidden="true"></i></li>
                </a>
                <a href="#">
                    <li class="actif">Gestion groupes<i class="fa fa-users" aria-hidden="true"></i></li>
                </a>
                <a href="#">
                    <li class="actif">Déconnexion<i class="fa fa-sign-out" aria-hidden="true"></i></li>
                </a>
                <a href="#">
                    <li>à propos<i class="fa fa-info-circle" aria-hidden="true"></i></li>
                </a>
            </ul>
        </nav>
        
        <!-- TABLEAU DE BORD -->
        <section>
        
            <div class="depenses">
                <div class="depense">
                   
                   
                    <p class="name"><i class="fa fa-exclamation-triangle {{ user.usercolor }}"></i> Payeur</p>
                    <p class="total-money-down">91 $<i class="fa fa-arrow-up"></i></p>
                    <p class="label-depense"><b><i class="fa fa-user" aria-hidden="true"></i> Personnes concernées</b>Nom, Nom, Nom <i>-3-</i></p>
                    
                    
                    <p class="label-depense"><b><i class="fa fa-calendar" aria-hidden="true"></i> Date</b>02 Janvier 1991</p>
                    <p class="label-depense"><b><i class="fa fa-users" aria-hidden="true"></i> Groupe</b>Ete 2016</p>
                    <p class="label-depense"><b><i class="fa fa-pencil" aria-hidden="true"></i> Description</b>Petit Déjeuner</p>
                    
                    
                </div>
            </div>
        
        </section>
    </div>
    
    <!-- PIED DE PAGE -->
    <footer>
        <p><i class="fa fa-copyright" aria-hidden="true"></i>Julien Malle, 2016.</p>
    </footer>
</body>

</html>